<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="css/styles.css">
  <title>Kiosque à Journaux</title>
</head>

<body>
  <nav class="navbar navbar-dark">
    <a class="navbar-brand mb-0 h1" href="/index">Kiosque à Journaux</a>
    <div class="btn-group" role="group" aria-label="pages">
      <a class="btn btn-primary" href="/index">Find Articles</a>
      <a class="btn btn-primary" href="/saved">Saved Articles</a>
    </div>
    <div class="btn-group scrapers" role="group" aria-label="scrapers">
      <button type="button" class="btn btn-light" id="btnLeMonde"><img class= "btnImg" src="images/lemonde.svg" alt="le monde"></button>
      <button type="button" class="btn btn-light" id="btnFigaro"><img class= "btnImg" src="images/figaro.svg" alt="le figaro"></button>
      <button type="button" class="btn btn-light" id="btnObs"><img class= "btnImg" src="images/obs.svg" alt="nouvel obs"></button>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container jumboText">
      <h1 class="display-4">Kiosque à Journaux</h1>
      <p class="lead">collect news articles from top french news sources!</p>
    </div>
  </div>
  {{{ body }}}
  <script src="js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
