<div class="container">
  <div class="row">
    <button type="button" class="btn btn-link" id= "allPast">view history</button>
  </div>
  <div id="articlesHolder">
    <div class="row">
      <div class="card" style= "width: 100%;">
        <div class="card-body">
          <h5 class="card-title">No Articles Yet</h5>
          <p class="card-text">Click on your favorite newspaper or click them all to retrieve articles! </p>
          <p><span><img class= "btnImg" src="images/lemonde.svg" alt="le monde"></span> | <span><img class= "btnImg" src="images/figaro.svg" alt="le monde"></span> | <span><img class= "btnImg" src="images/obs.svg" alt="le monde"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
